<p>Запрос на поиск женщин и мужчин которые являются и матерьми и женами (для мужчин и мужами и отцами)</p>
<table>
<tr>
  <th>ID</th>
  <th>NAME</th>
  <th>SURNAME</th>
  <th>GENDER</th>
  </tr>
    {{#each result}}
 <tr>
  <td>{{id}}</td>
  <td>{{name}}</td>
  <td>{{surname}}</td>
  <td>{{sex}}</td>
 </tr>
    {{/each}}
    </table>