<p class="txt">Запрос на выборку свадеб и рождений которые произошли в один день в одном городе</p>
<table>
<tr>
  <th>ID</th>
  <th>DATE</th>
  <th>PLACE</th>
  </tr>
    {{#each result}}
 <tr>
  <td>{{id}}</td>
  <td>{{date}}</td> 
  <td>{{place}}</td>
 </tr>
    {{/each}}
    </table>